<section [class.fullscreen]="fullScreen">
    <div id="timeline" fxLayout="row" fxLayoutAlign="space-around center" [class]="getStateString()">
        <div [class]="getState() >= 1 ? 'active' : ''" fxLayout="column" fxLayoutAlign="center center" (click)="setToState(1)">
            <h1>Bevezető</h1>
            <div fxLayout fxLayoutAlign="center center" fxLayoutGap="5px">
                <span [class.active]="getState() >= 1">&#9679;</span>
                <span [class.active]="getState() >= 2">&#9679;</span>
                <span [class.active]="getState() >= 3">&#9679;</span>
            </div>
        </div>
        <div [class]="getState() >= 4 ? 'active' : ''" fxLayout="column" fxLayoutAlign="center center" (click)="setToState(4)" >
            <h1>Bevezető</h1>
            <div fxLayout fxLayoutAlign="center center" fxLayoutGap="5px">
                <span [class.active]="getState() >= 4">&#9679;</span>
                <span [class.active]="getState() >= 5">&#9679;</span>
                <span [class.active]="getState() >= 6">&#9679;</span>
            </div>
        </div>
        <div [class]="getState() >= 7 ? 'active' : ''" fxLayout="column" fxLayoutAlign="center center" (click)="setToState(7)">
            <h1>Bevezető</h1>
            <div fxLayout fxLayoutAlign="center center" fxLayoutGap="5px">
                <span [class.active]="getState() >= 7">&#9679;</span>
                <span [class.active]="getState() >= 8">&#9679;</span>
                <span [class.active]="getState() >= 9">&#9679;</span>
            </div>
        </div>
        <div [class]="getState() >= 10 ? 'active' : ''" fxLayout="column" fxLayoutAlign="center center" (click)="setToState(10)">
            <h1>Bevezető</h1>
            <div fxLayout fxLayoutAlign="center center" fxLayoutGap="5px">
                <span [class.active]="getState() >= 10">&#9679;</span>
                <span [class.active]="getState() >= 11">&#9679;</span>
                <span [class.active]="getState() >= 12">&#9679;</span>
            </div>
        </div>
    </div>
    <button [class.active]="fullScreen" (click)="openFullscreen()">Teljes képernyő</button>
    <div id="slider-wrapper">
        <div [@slide-1]="getStateString()" class="slider">
            <p>A szakdolgozat témáját a fraktálok illetve alkalmazási területeinek ismertetése képzi. A fraktálok világa egyre táguló, egyre több és több tudományág fedezi fel jelentőségét. Mivel meglehetősen új, érdekes és ismeretlen területtel állunk szemben, kihívásnak éreztem e témát feldolgozni.</p>
            <p>A káosz és a fraktálok a matematika egyazon ágába tartoznak. Mindkettőt a nemlineáris rendszerek tanulmányozása közben fedezték fel. Az elnevezést Benoit B. Mandelbrot alkotta meg, aki elsőként foglalkozott fraktálgeometriával. Maga a szó a latin eredetű fractus kifejezésből származik, aminek jelentése: „törés”. A név arra utal, hogy törtdimenziójú alakzatokról van szó. Ez pedig azt jelenti, hogy le tud modellezni olyan alakzatokat, amelyek törtdimenzióval írhatóak körül. Jellemzőjük a nagyfokú önhasonlóság. Az alakzatok bármely részének nagyítása is hasonló alakzatokat eredményez, akármilyen mélységben is vizsgáljuk. A vizsgálatok szerint a káoszban megjelenő véletlenszerűnek tűnő geometriák a fraktálgeometria segítségével közelíthető. Könnyen modellezhető egy partszakasz, egy felhő, vagy akár egy fa növekedése. A modellezésen kívüli területeket a dolgozat 4. fejezetében ismertetem.</p>
        </div>
        <div [@slide-2]="getStateString()" class="slider">
            <p>A szakdolgozat témáját a fraktálok illetve alkalmazási területeinek ismertetése képzi. A fraktálok világa egyre táguló, egyre több és több tudományág fedezi fel jelentőségét. Mivel meglehetősen új, érdekes és ismeretlen területtel állunk szemben, kihívásnak éreztem e témát feldolgozni.</p>
            <p>A káosz és a fraktálok a matematika egyazon ágába tartoznak. Mindkettőt a nemlineáris rendszerek tanulmányozása közben fedezték fel. Az elnevezést Benoit B. Mandelbrot alkotta meg, aki elsőként foglalkozott fraktálgeometriával. Maga a szó a latin eredetű fractus kifejezésből származik, aminek jelentése: „törés”. A név arra utal, hogy törtdimenziójú alakzatokról van szó. Ez pedig azt jelenti, hogy le tud modellezni olyan alakzatokat, amelyek törtdimenzióval írhatóak körül. Jellemzőjük a nagyfokú önhasonlóság. Az alakzatok bármely részének nagyítása is hasonló alakzatokat eredményez, akármilyen mélységben is vizsgáljuk. A vizsgálatok szerint a káoszban megjelenő véletlenszerűnek tűnő geometriák a fraktálgeometria segítségével közelíthető. Könnyen modellezhető egy partszakasz, egy felhő, vagy akár egy fa növekedése. A modellezésen kívüli területeket a dolgozat 4. fejezetében ismertetem.</p>
        </div>
        <div [@slide-3]="getStateString()" class="slider">
            <p>A szakdolgozat témáját a fraktálok illetve alkalmazási területeinek ismertetése képzi. A fraktálok világa egyre táguló, egyre több és több tudományág fedezi fel jelentőségét. Mivel meglehetősen új, érdekes és ismeretlen területtel állunk szemben, kihívásnak éreztem e témát feldolgozni.</p>
            <p>A káosz és a fraktálok a matematika egyazon ágába tartoznak. Mindkettőt a nemlineáris rendszerek tanulmányozása közben fedezték fel. Az elnevezést Benoit B. Mandelbrot alkotta meg, aki elsőként foglalkozott fraktálgeometriával. Maga a szó a latin eredetű fractus kifejezésből származik, aminek jelentése: „törés”. A név arra utal, hogy törtdimenziójú alakzatokról van szó. Ez pedig azt jelenti, hogy le tud modellezni olyan alakzatokat, amelyek törtdimenzióval írhatóak körül. Jellemzőjük a nagyfokú önhasonlóság. Az alakzatok bármely részének nagyítása is hasonló alakzatokat eredményez, akármilyen mélységben is vizsgáljuk. A vizsgálatok szerint a káoszban megjelenő véletlenszerűnek tűnő geometriák a fraktálgeometria segítségével közelíthető. Könnyen modellezhető egy partszakasz, egy felhő, vagy akár egy fa növekedése. A modellezésen kívüli területeket a dolgozat 4. fejezetében ismertetem.</p>
        </div>
        <div [@slide-4]="getStateString()" class="slider">
            <p>A szakdolgozat témáját a fraktálok illetve alkalmazási területeinek ismertetése képzi. A fraktálok világa egyre táguló, egyre több és több tudományág fedezi fel jelentőségét. Mivel meglehetősen új, érdekes és ismeretlen területtel állunk szemben, kihívásnak éreztem e témát feldolgozni.</p>
            <p>A káosz és a fraktálok a matematika egyazon ágába tartoznak. Mindkettőt a nemlineáris rendszerek tanulmányozása közben fedezték fel. Az elnevezést Benoit B. Mandelbrot alkotta meg, aki elsőként foglalkozott fraktálgeometriával. Maga a szó a latin eredetű fractus kifejezésből származik, aminek jelentése: „törés”. A név arra utal, hogy törtdimenziójú alakzatokról van szó. Ez pedig azt jelenti, hogy le tud modellezni olyan alakzatokat, amelyek törtdimenzióval írhatóak körül. Jellemzőjük a nagyfokú önhasonlóság. Az alakzatok bármely részének nagyítása is hasonló alakzatokat eredményez, akármilyen mélységben is vizsgáljuk. A vizsgálatok szerint a káoszban megjelenő véletlenszerűnek tűnő geometriák a fraktálgeometria segítségével közelíthető. Könnyen modellezhető egy partszakasz, egy felhő, vagy akár egy fa növekedése. A modellezésen kívüli területeket a dolgozat 4. fejezetében ismertetem.</p>
        </div>
    </div>
</section>