<div>
    <h3>Bevezető</h3>
    <p> 
        Ez egy viszonylag új terület a matematikában, vizsgálatukat a számítógépek 
        megjelenése forradalmasította, bár már a XX. század előtt is fogalkoztatták a matematikusokat
        ezek a különös geometriai alakzatok.
        Amint sikerült őket jobban megismerni, kiderült hogy a természetben is léptennyomon megtalálhatók és 
        egyre több területen kezdték alkalmazni őket, mint
        péládul: szívritmus vizsgálata, egyensúly vizsgálata, rákkutatás, meteorológia,
        számítógépes grafika, digitális képfeldolgozás
    </p>
</div>