<div class="panel" [@configurationPanelHideAnimation]="configurationPanelHideAnimationStatus">
    <h5>Konfiguráció</h5>
    <div *ngIf="activeAlgorithm != null" fxLayout="column" fxLayoutAlign="start start">
        <div *ngFor="let conf of algorithmList[activeAlgorithm].configurations; let i = index">
            <div *ngIf="conf.type == 'slider'">
                <p>{{conf.name}}</p>
                <mat-slider #slider thumbLabel min="{{conf.minValue}}" max="{{conf.maxValue}}" step="{{conf.step}}" [value]="(conf.bind | async) || conf.value" (change)="setValue(conf.func, slider.value)"></mat-slider>
            </div>
            <div *ngIf="conf.type == 'checkbox'">
                <mat-checkbox #checkbox [checked]="(conf.bind | async) || conf.value" (change)="setValue(conf.func, checkbox.checked)">{{conf.name}}</mat-checkbox>
            </div>
            <div *ngIf="conf.type == 'checkbox-tree'">
                <mat-checkbox #checkbox [checked]="(conf.bind | async) || conf.value" (change)="setValue(conf.func, checkbox.checked)">{{conf.name}}</mat-checkbox>
                <div *ngIf="checkbox.checked">
                    <div *ngFor="let childConf of conf.configurations; let j = index">
                        <div *ngIf="childConf.type == 'colorpicker'">
                            <label>{{childConf.name}}</label><input class="color-picker" [(colorPicker)]="subColors[j]" [style.background]="subColors[j]" [cpAlphaChannel]="'disabled'" [cpPosition]="'left'" (colorPickerChange)="setValue(childConf.func, subColors[j])"/>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="conf.type == 'colorpicker'">
                <label>{{conf.name}}</label><input class="color-picker" [(colorPicker)]="color" [style.background]="color" [cpAlphaChannel]="'disabled'" [cpPosition]="'left'" (colorPickerChange)="setValue(conf.func, color)"/>
            </div>
            <div *ngIf="conf.type == 'radio'">
                <mat-label>{{conf.name}}&nbsp;</mat-label>
                <mat-radio-group>
                    <mat-radio-button *ngFor="let option of conf.values" [checked]="option.default" [value]="option.value" (click)="setValue(conf.func, option.value)">{{option.name}}</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <span class="arrow" 
        (click)="toggleConfigurationPanelAnimation()"
        [style.transform]="configurationPanelHideAnimationStatus == 'show' ? 'rotate(180deg)' : 'rotate(0)'">
    </span>
</div>
