<div class="panel" [@listPanelHideAnimation]="listPanelHideAnimationStatus">
    <h5>Algoritmusok</h5>
    <div class="item" *ngFor="let fractal of fractalList; let i = index" (click)="selectFractal(i)">
        <div class="highlight" [class.active]="i == selectedFractal"></div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <h5>{{fractal.name}}</h5>
            <div [id]="fractal.previewId"></div>
        </div>
    </div>
</div>
<span class="arrow" [@arrowHideAnimation]="listPanelHideAnimationStatus"
    (click)="toggleListPanelAnimation()"
    [style.transform]="listPanelHideAnimationStatus == 'hide' ? 'rotate(180deg)' : 'rotate(0)'">
</span>



    
