<div class="about" fxLayout="row wrap" fxLayoutAlign="center space-evenly">
    <div class="about-box" fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/icons/algorithm.svg" height="50px">
        <h5>Nyolc algoritmus</h5>
    </div>
    <div class="about-box" fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/icons/config.svg" height="50px" style="transform: rotate(90deg)">
        <h5>Konfigurálhatóság</h5>
    </div>
    <div class="about-box" fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/icons/export.svg" height="50px">
        <h5>Exportálás</h5>
    </div>
</div>
<p>Ez egy webalkalmazás, ahol lehetőséged van fraktálokat generálni előre megírt algoritmusok alapján, ezeket az algoritmusokat konfigurálhatod, majd az eredményt képként exportálhatod.</p>
<h2>Mik azok a fraktálok?</h2>
<p>
    A fraktálok egy viszonylag újnak nevezhető terület a matematikában. 
    Maga a szó a latin <i>fractus</i> szóból ered, melynek jelentése törés, törött.
    A fraktálok önhasonló, végtelenül komplex matematikai alakzatok, melyek változatos formáiban legalább egy felismerhető ismétlődés 
    tapasztalható. Az önhasonlóság azt jelenti, hogy egy kisebb rész felnagyítva ugyanolyan struktúrát mutat, mint egy nagyobb rész. 
    Ilyen bizonyos léptékig például a természetben a villám mintázata, a levél erezete, a hópelyhek alakja, a fa ágai. 
    A fraktál szóval rendszerint az önhasonló alakzatok közül azokra utalnak, 
    amelyeket egy matematikai formulával le lehet írni, vagy meg lehet alkotni. A fraktálok egy másik tulajdonsága, 
    hogy nem differenciálhatóak. Ennek oka az, hogy bár a fraktálok folytonosak, végtelenül gyűröttek. 
    A fraktálokat úgy írhatjuk le, hogy megvizsgáljuk, hogyan változnak különböző felbontásoknál.
</p>
<div class="bottom">
    <h2>A kezdéshez válassz algoritmust</h2>
    <div class="algorithms" fxLayout="row wrap" fxLayoutAlign="center space-evenly">
        <div class="algorithm-box" (click)="selectAlgorithm(i)" fxLayout="column" fxLayoutAlign="center center" *ngFor="let algorithm of algorithmList; let i = index;">
            <div [id]="algorithm.previewId"></div>
            <h5 class="title">{{algorithm.name}}</h5>
        </div>
    </div>
</div>
