div {
    padding-right: 50px;
    padding-left: 100px;
}

ul {
    list-style: none;
}

li {
    position: relative;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: .3;
    transition: 1s;

    &:before {
        content: '';
        display: block;
        position: absolute;
        height: 55px;
        width: 55px;
        top: 50%;
        transform: translateY(-50%);
        left: -80px;
        border-radius: 100%;
        z-index: 2;
    }
    
    /*&:after {
        content: '';
        display: block;
        position: absolute;
        height: 0px;
        width: 5px;
        top: 100%;
        left: -80%;
        border-radius: 50px;
        transition: 1s;
    }*/

    &[data-color="red"]:before,
    &[data-color="red"]:after {
        background-color: red;
    }

    &[data-color="green"]:before, 
    &[data-color="green"]:after {
        background-color: green;
    }

    &[data-color="purple"]:before, 
    &[data-color="purple"]:after {
        background-color: purple;
    }

    &[data-color="yellow"]:before, 
    &[data-color="yellow"]:after {
        background-color: yellow;
    }

    &.active {
        opacity: 1;
        /*transition: 1s;

        &:after {
            height: 130px;
        }*/
    }
}